# This should match the team set up in https://github.com/orgs/opensearch-project/teams and include any additional contributors
*   @VachaShah @dblock @harshavamsi @axeoman @deztructor @Shephalimittal