[MESSAGES CONTROL]
disable=all
enable=line-too-long,
    invalid-name,
    pointless-statement,
    unspecified-encoding,
    missing-function-docstring,
    missing-param-doc,
    differing-param-doc,
    unnecessary-dunder-call
max-line-length=240
good-names-rgxs=^[_a-z][_a-z0-9]?$

