requests>=2, <3
pytest
pytest-cov
coverage
mock
sphinx<7.1
sphinx_rtd_theme
jinja2

# No wheels for Python 3.10 yet!
numpy; python_version<"3.10"
pandas; python_version<"3.10"

pyyaml>=5.4; python_version>="3.6"
pyyaml==5.3.1; python_version<"3.6"

isort
black; python_version>="3.6"
twine

# Requirements for testing [async] extra
aiohttp; python_version>="3.6"
pytest-asyncio<=0.21.0; python_version>="3.6"
unasync; python_version>="3.6"
