requests>=2, <3
pytest
pytest-cov
coverage
sphinx<8.3
sphinx_rtd_theme
jinja2
pytz
deepmerge
Events
setuptools==71.1.0

numpy; python_version<="3.12"
pandas; python_version<="3.12"

pyyaml>=5.4

isort
black>=24.3.0
twine

# Requirements for testing [async] extra
aiohttp>=3.9.4, <4
pytest-asyncio<=0.25.1
unasync
