include AUTHORS
include Changelog.rst
include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
include setup.py
recursive-include opensearch* py.typed *.pyi

prune test_opensearch
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
