---
name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python3.7 -m pip install nox
      - name: Lint the code
        run: nox -s lint

  test-build-distribution:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install build tools
        run: |
          python3.7 -m pip install --upgrade build
      - name: Build project for distribution
        run: |
          python3.7 -m build
  test-linux:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["2.7", "3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest]
        experimental: [false]
        include:
          - os: "ubuntu-20.04"
            python-version: "3.5"
            experimental: false
          - os: "ubuntu-20.04"
            python-version: "3.6"
            experimental: false

    runs-on: ${{ matrix.os }}
    name: test-${{ matrix.python-version }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Start httpbin container
        run: docker run --name httpbin -d -p 8000:80 kennethreitz/httpbin 
      - name: Wait for httpbin to start
        run: sleep 60
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set Up Python - ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
        env:
          PIP_NO_PYTHON_VERSION_WARNING: 1
          PIP_DISABLE_PIP_VERSION_CHECK: 1
      - name: Install Dependencies
        run: |
          python -m pip install -r dev-requirements.txt
      - name: Run Tests
        run: |
          python setup.py test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./junit/opensearch-py-codecov.xml

  twine-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel twine
      - name: Build source distribution
        run: python setup.py sdist bdist_wheel
      - name: Check with Twine
        working-directory: dist
        run: twine check *
