name: Integration Tests

on: [push, pull_request]

jobs:
  integration-pre-212:
    name: Integ-pre-212
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        opensearch_version: [ '1.0.1', '1.1.0', '1.2.4', '1.3.7', '2.0.1', '2.1.0', '2.2.1', '2.3.0', '2.4.0', '2.5.0', '2.6.0', '2.7.0', '2.8.0', '2.9.0', '2.10.0', '2.11.1' ]
        secured: [ "true", "false" ]
        exclude:
          # https://github.com/opensearch-project/opensearch-py/issues/612
          - opensearch_version: 2.0.1
            secured: "true"
          - opensearch_version: 2.1.0
            secured: "true"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Integ OpenSearch secured=${{ matrix.secured }} version=${{ matrix.opensearch_version }}
        run: "./.ci/run-tests ${{ matrix.secured }} ${{ matrix.opensearch_version }}"

  integration-post-212:
    name: Integ-post-212
    runs-on: ubuntu-latest
    env:
      OPENSEARCH_URL: 'https://admin:myStrongPassword123!@localhost:9200'
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: 'myStrongPassword123!'
    strategy:
      fail-fast: false
      matrix:
        opensearch_version: [ '2.12.0', '2.13.0', '2.14.0' ]
        secured: [ "true", "false" ]
        
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Integ OpenSearch secured=${{ matrix.secured }} version=${{ matrix.opensearch_version }}
        run: "./.ci/run-tests ${{ matrix.secured }} ${{ matrix.opensearch_version }}"
