name: Integration tests

on: [push, pull_request]

jobs:
  integration:
    name: Integ
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        secured: ["true", "false"]
        entry:
          - { opensearch_version: 2.4.1 }

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Integ OpenSearch secured=${{ matrix.secured }} version=${{matrix.entry.opensearch_version}}
        run: "./.ci/run-tests ${{ matrix.secured }} ${{ matrix.entry.opensearch_version }}"