name: Integration tests

on: [push, pull_request]

jobs:
  integration:
    name: Integ
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cluster: ["opensearch"]
        secured: ["true", "false"]
        entry:
          - { opensearch_version: 1.0.0 }
          - { opensearch_version: 1.0.1 }
          - { opensearch_version: 1.1.0 }
          - { opensearch_version: 1.2.0 }
          - { opensearch_version: 1.2.1 }
          - { opensearch_version: 1.2.2 }
          - { opensearch_version: 1.2.3 }
          - { opensearch_version: 1.2.4 }
          - { opensearch_version: 1.3.0 }
          - { opensearch_version: 1.3.1 }
          - { opensearch_version: 1.3.2 }
          - { opensearch_version: 1.3.3 }
          - { opensearch_version: 2.0.0 }
          - { opensearch_version: 2.0.1 }

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Integ ${{ matrix.cluster }} secured=${{ matrix.secured }} version=${{matrix.entry.opensearch_version}}
        run: "./.ci/run-tests ${{ matrix.cluster }} ${{ matrix.secured }} ${{ matrix.entry.opensearch_version }}"