name: Link Checker
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  linkchecker:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Remove symlink
        run: rm docs/source/README.md
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.5.0
        with:
          args: --accept=200,403,429 "**/*.html" "**/*.md" "**/*.txt" "**/*.json" --exclude "file:///github/workspace/*" --exclude-mail 
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Restore symlink
        if: always()
        run: ln -s ../../README.md docs/source/README.md
